.navigation {
  display: flex;
  flex-direction: row;

  
}

.navItem {
  visibility: visible;
  padding: 15px 20px;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  text-transform: uppercase;
}

.navItem.selected {
  color: var(--buttonColor);
  border-bottom: var(--buttonColor) 4px solid;
}