.productDetails {
    padding: 20px 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.productDetailsInfo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 0px 20px;
  width: min-content;
  min-width: 300px;
}

.cartButton {
    background-color: #7ee693;
    color: white;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 1.2em;
    text-transform: uppercase;
}

.productDescription {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.8em;
}

.detailsPrice {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 0px;
    padding-bottom: 50px;
}