.productGallery {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .thumbnailContainer {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 800px;
    aspect-ratio: 1/1;
    margin: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
  .thumbnailImage {
    cursor: pointer;
    border: 2px solid transparent;
    margin: 10px;
    height: auto;
  }
  
  .thumbnailImage.active {
    border: 2px solid #333;
  }
  

  
.mainImageWrapper {
    display: flex;
    position: relative; /* To position arrows relative to this container */
    margin-left: 20px;
    height: 800px;
    aspect-ratio: 1/1;
    align-items: center;
  }

  
  .mainImageWrapper img {
    height: auto;
    width: 100%;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
  }
  
  .leftArrow {
    left: 0px; /* Adjust based on the layout */
  }
  
  .rightArrow {
    right: 0px; /* Adjust based on the layout */
  }
  
  .arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }